#main {
    margin: 20px auto;
}

#message {
    height: 20px;
    line-height: 20px;
}

.playing {
    visibility: hidden;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 4px;
    text-align: center;
}

.closed {
    margin: 0 4px 4px 0;
    background-color: skyblue;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}

.safe-opened {
    margin: 2px;
    background-color:lightgray;
}

.mine-opened {
    margin: 2px;
    background-color:red;
    color: yellow;
    font-weight: bold;
}