#main {
    margin: 20px auto;
}

#message {
    height: 20px;
    line-height: 20px;
}

.playing {
    visibility: hidden;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 27px;
    height: 27px;
    line-height: 27px;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    user-select: none;
}

@media (min-width: 400px) {
    .cell {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
}

@media (min-width: 500px) {
    .cell {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}

@media (min-width: 600px) {
    .cell {
        width: 54px;
        height: 54px;
        line-height: 54px;
    }
}

.closed {
    margin: 0 4px 4px 0;
    background-color: skyblue;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}

.safe-opened {
    margin: 2px;
    background-color:lightgray;
}

.mine-opened {
    margin: 2px;
    background-color:red;
    color: yellow;
    font-weight: bold;
}